.navContainer {
  width: 100%;
  display: flex;



  .logoContainer {
    width: 20%;
    img {
      width: 100%;
    }
  }

  .navList {
    width: 60%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center
  }
}
